:root {
    --mainColor: #FFB628;
    --bgColor: #FFFDF8;
    --textBlack: #101010;
    --textWhite: #FFFFFF;
    --firstLabelBg: #FFF2D9;
    --secondLabelColor: #FF9028;
    --secondLabelBg: #FFB69E;
    --thirdLabelColor: #FF5E28;
    --thirdLabelBg: #FFB69E;

    --border: #101010 1px solid;
    --borderBtn: #101010 2px solid;

    --headFont: 'Fraunces', serif;
    --paragraphFont: 'Manrope', sans-serif;
}

*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--paragraphFont);
    background-color: var(--bgColor);
    color: var(--textBlack);
}

header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    position: sticky;
    top: 0;
    border-bottom: var(--border);
}

header a img {
    margin-right: auto;
    margin-left: 140px;
    cursor: pointer;
    height: 40px;
}

header a iconify-icon {
    display: none;
}

/* .menu {
    background: #FFFDF8;
    cursor: pointer;
} */

nav {
    font-weight: 600;
    font-size: 18px;
    margin-right: 120px;
    margin-left: auto;
}

nav li {
    list-style-type: none;
    padding: 0 20px;
}

nav li:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    display: block;
    transition: all .3s ease-in;
    bottom: 25%;
}

nav li:hover::after {
    width: 3%;
    height: 3px;
    background-color: var(--mainColor);
}

nav li a {
    text-decoration: none; 
}

nav ul {
    display: flex;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.content {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

#intro {
    padding-top: 60px;
    border-bottom: var(--border);
}

.intro-content {
    flex-basis: 600px;
}

.intro img {
    max-width: 600px;
}

.span {
    color: #FFB628;
    font-size: 12px;
    font-weight: 700;
}

h1, h2 {
    font-family: var(--headFont);
    font-weight: 800;
    letter-spacing: -1px;
}

.intro-content h1 {
    font-family: var(--headFont);
    font-weight: 800;
    font-size: 80px;
    line-height: 1em;
    padding-top: 80px;
}

.intro-content h1 span {
    font-family: var(--headFont);
    font-size: 80px;
    color: var(--mainColor);
}

.intro-content p {
    font-weight: 600;
    padding: 30px 0 40px 0;
    line-height: 2.2em;
}

.intro-content button {
    font-size: 18px;
    font-weight: 800;
    text-align: left;
    border: var(--borderBtn);
    background: var(--mainColor);
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 50px;
    align-self: flex-start;
    transition: all .2s ease-in;
}

.intro-content button:hover {
    border: #FFB628 2px solid;
    color: var(--mainColor);
    background: var(--bgColor);
}

#about {
    padding-top: 60px;
    border-bottom: var(--border);
}

.about-content {
    flex-basis: 40%;
}

.about img {
    flex-basis: 60%;
    max-width: 550px;
    margin-left: auto;
    margin-bottom: auto;
}

.about-content h2 {
    font-family: var(--headFont);
    font-size: 48px;
    line-height: 1em;
    padding-top: 60px;
}

.about-content h2 span {
    font-family: var(--headFont);
    font-size: 48px;
    color: var(--mainColor);
}

.about-content p {
    font-weight: 600;
    padding: 20px 0;
    line-height: 2.2em;
}

.about-content mark {
    padding: 2px;
    border-radius: 20px;
    background-color: var(--mainColor);
}

#services {
    padding: 60px 0;
    border-bottom: var(--border);
}

.services-content h2 {
    font-family: var(--headFont);
    font-size: 48px;
    line-height: 1em;
    padding-top: 60px;
}

.services-content h2 span {
    font-family: var(--headFont);
    font-size: 48px;
    color: var(--mainColor);
}

.services-content p {
    font-weight: 600;
    padding: 20px 0;
    line-height: 2.2em;
}

.label {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.label-item {
    font-size: 18px;
    font-weight: 600;
    background: var(--bgColor);
    border: #FFB628 2px solid;
    border-radius: 50px;
    padding: 16px 24px;
    margin: 0 15px 15px 0;
    transition: .2s ease-in;
}

.label-item:hover {
    background: var(--mainColor);
}

#projects {
    padding: 60px 0;
    border-bottom: var(--border);
}

.projects-content {
    padding-top: 20px;
}

.projects-content h2 {
    font-family: var(--headFont);
    font-size: 48px;
    line-height: 1em;
    padding-top: 60px;
}

.projects-content h2 span {
    font-family: var(--headFont);
    font-size: 48px;
    color: var(--mainColor);
}

.projects-content p {
    font-weight: 600;
    padding: 20px 0;
    line-height: 2.2em;
}

.galery-item {
    max-width: 300px;
    padding: 0 20px 60px 20px;
}

.galery-item h3 {
    color: var(--textBlack);
    font-weight: 800;
    font-size: 28px;
}

.galery-item p {
    font-weight: 600;
    padding: 12px 0;
    line-height: 2.2em;
}

.galery-image {
    border-radius: 200px 200px 0 0;
    border: var(--border);
    margin-bottom: 24px;
}

.galery-badge {
    padding: 20px 0;
}

.badge {
    margin: 0 8px 8px 0;
}

.first-label {
    border: #FFB628 1px solid;
    color: var(--mainColor);
    background: var(--firstLabelBg);
    font-weight: 500;
    font-size: 13px;
    border-radius: 40px;
    align-self: flex-start;
    padding: 2px 10px;
}

.second-label {
    border: #ff9028 1px solid;
    color: var(--secondLabelColor);
    background: var(--secondLabelBg);
    font-weight: 600;
    font-size: 13px;
    border-radius: 40px;
    align-self: flex-start;
    padding: 2px 10px;
}

.third-label {
    border: #ff5e28 1px solid;
    color: var(--thirdLabelColor);
    background: var(--thirdLabelBg);
    font-weight: 500;
    font-size: 13px;
    border-radius: 40px;
    align-self: flex-start;
    padding: 2px 10px;
}

.galery-item button {
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    border: var(--border);
    color: var(--textBlack);
    cursor: pointer;
    text-decoration: underline;
    align-self: flex-start;
    transition: all .2s ease-in;
}

.galery-item button:hover {
    color: var(--mainColor);
}

.row-2 {
    margin-top: 20px;
}

.load-more {
    padding-left: 100px;
    justify-content: center;
    align-items: center;
}

.load-more p:hover {
    color: var(--textBlack);
}

.load-more p {
    font-weight: 800;
    font-size: 18px;
    color: var(--mainColor);
    cursor: pointer;
    transition: all .2s ease-in;
}

.arrow {
    border: solid #FFB628;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
  }
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

#contact {
    padding: 60px 0;
}

.contact-content {
    flex-basis: 50%;
}

/* .contact-box img {
    flex-basis: 50%;
    max-width: 300px;
    max-height: auto;
    margin-left: auto;
    margin-bottom: auto;
} */
  
.contact-content-intro h2 {
    font-family: var(--headFont);
    font-size: 48px;
    line-height: 1em;
    padding-top: 60px;
}

.contact-content-intro h2 span {
    font-family: var(--headFont);
    font-size: 48px;
    color: var(--mainColor);
}

.contact-content-intro p {
    font-weight: 600;
    padding: 20px 0;
    line-height: 2.2em;
}

.contact-content form {
    padding-top: 12px;
}

#name, #phone, #email {
    font-size: 16px;
    font-weight: 600;
    border: var(--border);
    border-radius: 15px;
    background: var(--textWhite);
    padding: 12px 0 12px 12px;
    margin: 8px 0;
    width: 500px;
}

#brief {
    font-size: 16px;
    border: var(--border);
    border-radius: 15px;
    background: var(--textWhite);
    padding: 12px 0 12px 12px;
    margin: 8px 0;
    width: 500px;
}

#submit {
    padding-top: 24px;
}

#submit button {
    font-size: 18px;
    font-weight: 800;
    border: var(--borderBtn);
    background: var(--mainColor);
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 50px;
    transition: all .2s ease-in;
}

#submit button:hover {
    border: #FFB628 2px solid;
    color: var(--mainColor);
    background: var(--bgColor);
}

aside {
    margin-left: auto;
    margin-right: auto;
}

aside img {
    max-width: 250px;
}

.contact-ornament {
    margin-left: 120px;    
}

.bio {
    max-width: 600px;
    border: var(--border);
    border-radius: 40px;
    margin-top: auto;
    margin-right: auto;
    padding: 40px 80px 0 80px;
    background: var(--mainColor);
    box-shadow: 0 4px 12px 0 #d4c9b3;
}

.bio figure, th, td {
    background: var(--mainColor);
}

.bio figure {
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 24px 0;
}

.bio img {
    display: table-cell;
    vertical-align: middle;
    border-radius: 2000px;
    border: #101010 2px solid;
    max-width: 150px;
}

.bio h3 {
    border-bottom: var(--border);
    border-top: var(--border);
    background: var(--mainColor);
    padding: 12px 0;
    text-align: center;
}
.bio table {
    padding: 20px 0 24px 0;
    text-align: left;
    background: #FFB628;
    align-items: center;
}

.table-content h3 {
    font-weight: 800;
}

.table-content th {
    font-weight: 800;
}

.table-content tr, iconify-icon {
    background: #FFB628;
    font-weight: 500;
}

.table-content tr a {
    background: #FFB628;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.2s ease-in;
}

.table-content tr a:hover {
    color: #FFFDF8;
}


footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    bottom: 0;
    border-top: #101010 1px solid;
    background: #FFB628;
}

footer section {
    margin-right: auto;
    background: #FFB628;
}

footer img {
    cursor: pointer;
    background: #FFB628;
}

footer ul {
    background: #FFB628;
    margin-right: auto;
    margin-left: 140px;
    cursor: pointer;
}

footer li {
    font-weight: 500;
    padding: 4px 0;
    background: #FFB628;
    list-style-type: none;
    transition: all .2s ease-in;
}

footer li:hover {
    color: #FFFDF8;
}

.iconify-inline {
    background: #FFB628;
}

/* @media screen and  (min-width:1200px) {
    .content {
        padding: 0 30px;
    }
} */
